<div class="container">
  <h2>Create New Post</h2>
  <%= form_with model: @post, url: posts_path do |f| %>
    <div class="mb-20">
      <%= f.label :title, "Title:" %> &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; 
      <%= f.text_field :title, class: "form-control" %>
      <% @post.errors.full_messages_for(:title).each do |message| %>
        <div class="notice"><%= message %></div>
      <% end %>
    </div>
    <div class="mb-20">
      <%= f.label :description, "Description:" %>
      <%= f.text_area :description, class: "form-control" %>
      <% @post.errors.full_messages_for(:description).each do |message| %>
        <div class="notice"><%= message %></div>
      <% end %>
    </div>
    <div class="mb-20">
      <%= f.label :public_flag, "Public Flag:" %>
      <%= f.radio_button :public_flag, class: "form-control" %>
    </div>
    <div class="submit">
      <%= f.submit "Create", class: "edit" %>
    </div>
  <% end %>
</div>