<!DOCTYPE html>
<html>
  <head>
    <div class="logout">
      <%= button_to "Logout", logout_path ,:method => :get, class: "show"%>
    </div>
    <%= button_to "User", users_path, :method => :get, class: "user-btn" %>
    <%= button_to "Post", posts_path, :method => :get , class: "user-btn"%>
    <%= button_to "Create User", new_user_path,  :method => :get , class: "user-btn"%>
  </head>
  <body>
    <p id="notice"><%= notice %></p>
    <div class="container">
      <h3>USER LIST</h3>
      <br>
      <table border="2">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.address %></td>
              <div>
                <td>
                  <%= link_to "Edit", edit_user_path(user) %>
                  <%= link_to "Delete", user_path(id: user.id), method: :DELETE, data: {confirm: "Are you sure?"}  %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>
