<div class=login>
  <h1>Login</h1>
  <%= form_for(:session, url: login_path) do |f| %>
    <div class="email">
      <%= f.email_field :email, :placeholder => "Email" %>
    </div>
    <br>
    <div class="password">
      <%= f.password_field :password, :placeholder => "Password" %>
    </div>
    <div class="submit">
      <%= f.submit "Log in", class: "btn-submit" %>
    </div>
    <div class="reset-link">
      <%= link_to "Fogot your password?", password_reset_path %>
    </div>
  <% end %>
</div>
