<tr id="postRow_<%= post.id %>">
  <td><%= post.title %></td>
  <td><%= post.description %></td>
  <td><%= post.privacy %></td>
  <td><%= post.created_at %></td>
  <td><%= link_to "Destroy", post, method: :delete, data: { confirm: "Are you sure?" },
                                           :remote => true, :class => "delete_post" %></td>
</tr>
