<p id="notice"><%= notice %></p>
<h2>Create Post</h2>
<%= form_with model: @post, id: "new-postform", url: posts_path, method: "post", local: false do |form| %>
  <div class="field">
    <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>
  <div class="field">
    <%= form.text_area :description ,class: "form-control",placeholder: "Description"%>
  </div>
  <div class="field">
    <%= form.select :privacy, options_for_select([["Privacy", ""], ["public", 1], ["private", 0]]) %>
  </div>
  <div class="submit-btn">
    <%= form.submit "Create Post"%>
  </div>
<% end %>
<h2>Posts Lists</h2>
<table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Privacy</th>
      <th>Created At</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="postsTable">
    <% @posts.each do |post| %>
      <%= render 'post_row', post: post %>
    <% end %>
  </tbody>
</table>
<br>
